/* 
==========================
hero-section
========================== */
.hero-background {
  display: flex;
  height: 80vh;
  background-image: url("../images/background4.jpg");
  background-size: cover;
  background-position: center;
}

.hero-presentation {
  position: relative;
  bottom: -20vh;
  z-index: 2;
  padding: 50px;
  max-width: 50vw;
  max-height: 40vh;
  background-color: var(--main-bg-color);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
}

.hero-presentation h1 {
  margin-bottom: 20px;
}

.hero-presentation p {
  margin-bottom: 30px;
}
.hero-presentation .btn {
  margin-bottom: 10px;
}

.hero-presentation a:hover {
  color: var(--hover-color);
}

@media (max-width: 1400px) {
  .hero-presentation {
    max-width: 60vw;
    max-height: 40vw;
  }
}
/* 
==========================
benefits-section
========================== */
.grid-benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 100px;
  column-gap: 20px;
}
.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.benefit img {
  width: 100px;
  margin-bottom: 20px;
}
.section-benefits {
  margin: 100px 0;
}
.section-title {
  text-align: center;
  padding-bottom: 50px;
}

/* 
==========================
productions-section
========================== */
.square-section {
  margin-bottom: 50px;
}
.grid-production {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-production .square {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  min-height: 500px;
  padding: 100px;
}

.grid-production .paint {
  background: url(../images/close-up-hand-painting-wall-with-roller.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  border-radius: 0 18px 18px 0;
}

.grid-production .putty {
  background: url(../images/putty.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px 0 0 18px;
}

.grid-production .plaster {
  background: url(../images/plasters.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  border-radius: 0 18px 18px 0;
}

.grid-production .palette {
  background: url(../images/pallette.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px 0 0 18px;
}

.grid-production .calculator {
  background: url(../images/calculator-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  border-radius: 0 18px 18px 0;
}

.paint:hover,
.putty:hover,
.palette:hover,
.plaster:hover,
.calculator:hover {
  cursor: pointer;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  transform: scale3d(1.02, 1.02, 1.02);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
