.info-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  margin-top: 50px;
}

h1 {
  padding: 20px 0;
}

.left-side {
  width: 100%;
  justify-content: center;
}

.right-side {
  min-width: 60%;
}
.wrapper-grid {
  display: grid;
  grid-template-rows: 1fr;
  margin: 20px 0;
}

.title-prop {
  background-color: inherit;
  padding: 18px 0 18px 0;
  width: 100%;
  border: none;
  border-top: 1px solid grey;
  font: inherit;
  text-align: left;
  outline: none;
  font-size: 15px;
  align-content: center;
}

.wrapper-grid .content {
  padding-bottom: 18px;
  display: block;
}

.palitra {
  margin: 50px auto;
}
.card {
  border-radius: 18px;
  display: block;
  min-height: 300px;
  margin-right: 50px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
