.grid-page-products {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 50px;
}

/* section search */
.searchbar {
  margin: 0 40px 20px 0;
  padding-left: 60px;
  font-family: inherit;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-style: none;
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  /* border: 1px solid #d2d2d7; */
  border-radius: 8px;
  font-size: 1rem;
}

#search {
  background-image: url('../images/search-solid.svg');
  background-position: 10px 5px ;
  background-size: contain;
  background-repeat: no-repeat;

}


/* section Filter */
.filter input, label {
  margin: 10px;
  align-items: center;
}

.filter .collapsible {
  padding-bottom: 10px;
  cursor: pointer;
  text-align: left;
}

.collapsible:hover, .filter .active {
  background-color: #f3f3f3;
}

.filter .collapsible:after {
  content: '\2796';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.filter .active:after {
  content: "\02795";
}

.filter .content {
  display: block;
  padding: 0 20px;
}


/* section Продукция */

.products {
  text-align: center;
  margin: 0 auto 50px 20px;
}

.product-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  margin-top: 20px;
}

.products .card {
  /* background-color: #f3f3f3; */
  /* padding: 20px; */
  /* border: solid 1px; */
  border-radius: 18px;
  display: none;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  transition: all .3s cubic-bezier(0,0,.5,1);
}


.products .show {
  display: block;

}

a {
  color: black;

}

.card:hover {
  /* background: #f3f3f3; */
  cursor: pointer;
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
  transition: all .3s cubic-bezier(0,0,.5,1);
  transform: scale3d(1.02,1.02,1.02);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
}

.card-top button {
  background: none;
  border: none;
  align-items: center;
  margin-right: 15px;
  padding: 5px;
  font-size: 1.5rem;
  color: #cccccc;
}

.card-top button:hover {
  color: #fa7f0e;
  cursor: pointer;
}
/* .card-top i {
  font-size: 2em;
  color: #cccccc;
} */

.card-top .tag {
  width: 40%;
  /* border-radius: 0 0 20px 0; */
  /* padding: 10px; */
  color: white;
  text-align: left;
  padding: 20px;
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  justify-content: flex-start;
  min-height: 250px;
}

.card-description h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.card img {
  display: block;
  float: bottom;
  margin: auto auto 10px auto;

}

.menubar {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  flex-direction: column;
  align-items: flex-start;
}

.menubar .btn {
  font-family: 'Raleway', sans-serif;
  
  border: none;
  background: none;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-style: inherit;
  font-size: 1.5rem;
}

.btn:hover {
  color: grey;
}

.menubar .active {
  border-bottom: solid 1px;
}
