.grid-page-palitra {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  margin: 50px auto;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.right-side {
  min-height: 50vh;
}
.all-colors-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.full-screen {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.palitra-icon {
  padding: 5px;

  border: none;
  border-radius: 8px;
  width: 40px;
  align-items: center;
}
.icon-wrapper {
  float: right;
  margin: 10px;
}

.favorite-colors {
  display: none;
  margin-top: 10px;
}

.modal-title {
  border: solid 1px red;
}

.small .color-card:hover {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  transform: scale3d(1.02, 1.02, 1.02);
}

.small .color-back {
  height: 120px;
}

.small {
  float: bottom;
}

.full-screen-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.full-screen-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.comments{
  display: none;
}

.btn h3 {
  display: inline;
  float: left;
  padding-right: 2px;
}

.btns-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btns-wrapper h4 {
text-align:left;
padding-left:  0;
}

